html {
    background-image: linear-gradient(#e1bd7b, #000);
}

body {
    background-image: url(image-lion-background.png);
    background-position: top center; 
    background-repeat: no-repeat;
     font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgrey;
    flex-wrap: wrap;
}



.homepage, a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    
}

nav a.mybutton {
    margin-left: 30px;
}

.navbutton {
    border: 1px solid white;
    margin-right: 8px;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    position: relative;
    display: flex;
}


.container {
    max-width: 80%;
    min-height: 300px;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 100px;
}

form {
    width: 50%;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.main2 {
    min-height: 300px;
    padding-top: 50px;
   
}

.herobox2 {
    display: flex;
    justify-content: end;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.card1 {
    background-image: url(image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card2 {
    background-image: url(image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
    min-height: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card3 {
    background-image: url(image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;
    min-height: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card1, .card2, .card3 {
    padding: 30px 0; 
    box-sizing: border-box;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}


.herobox2 {
    flex: 1;
     
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.cards i {
    font-size: 100px;
}

.mrgn-btm {
    margin-bottom: 40px;
}


.mybutton {
    background-color: #47210c;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
    padding: 9px 40px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

.mybutton:hover  .mybutton:focus{
    background-color: #FA4083;
    transition-duration: 1s;
    color: white;
    border: 1px dotted #721b3b;
}

a.mybutton {
    display: inline-block;
    margin-top: 1
    0px;
}

.testimonials {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}

/* .tbox :last-child {
    font-size: .8rem;
} */


.tbox p:last-of-type {
    font-size: 0.8rem;
    padding-left: 30px;
}

.dropdown {
    display: none;
    position: absolute;
    left: -5px;
    top: 10px;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
}

.navbutton:hover .dropdown, 
.navbutton:focus .dropdown {
    display: block;
}

.dropdown .navbutton {
    width: 110px;
    background-color: white;
    border-bottom: 1px solid #47210c;
    font-size: 1rem;

    
}

.dropdown .navbutton a {
    color: #47210c;
    
}


.inputwrapper {
    margin-bottom: 30px;
    min-width: 22rem;
}

input[type=text], input[type=email], textarea {
    padding: 12px 20px; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    box-sizing: border-box;
}

.newline {
    display: block;
    margin-bottom: 10px;
}

.margin-right-a {
    margin-right: 20px;
}

input[type=radio] {
    margin-right: 10px;
}

form {
    margin: 40px 0px;
}

/*--------------------------
------MEDIA QUERY----------
============================*/
@media screen and (max-width: 800px) {


nav {
    flex-direction: column;
}
.navbutton {
    border: none;
    border-bottom: 1px solid white;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;

}

main {
    flex-direction: column;
    flex-wrap: wrap;
    font-size: .8em;
    align-items: center;
    padding: 0;
}

main h1 {
    font-size: 2rem;

}

.herobox1 {
    min-width: 250px;
    padding: 0;
}

.herobox2 img {
    display: none;
   
}

.cards {
    flex-direction: column;
    align-items: start;
}

.card1, .card2, .card3 {
    width: 100%;
    margin: 20px 0;
    
}

.testimonials {
    flex-direction: column;
    width: 100%;
    align-items: start;
    margin-bottom: 50px;

}

.tbox {
    width: 100%;
    padding: 15px;
}

}

